/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.spacer {
  flex: 1 1 auto;
}

.sidenav-container {
  height: calc(100vh - 64px);
}

.sidenav {
  width: 250px;
}

.sidenav-content {
  padding: 20px;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
}

.active {
  background-color: rgba(0, 0, 0, 0.1);
}

mat-nav-list a {
  display: flex;
  align-items: center;
  gap: 12px;
}
